.petit {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 22px;
  color: green;
  margin: 0;
  padding: 0;
  background-color: #fecb7c;
}

.layout-other {
  position: relative;
}
.layout-other-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
.layout-other-wrapper h1, .layout-other-wrapper p {
  text-align: center;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4uc2NzcyIsIm1haW4uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsNENBQUE7RUFDQSxpQkFBQTtFQUNBLG1CQUFBO0NDQ0Q7O0FERUQ7RUFDRSxnQkFBQTtFQUNBLGFBQUE7RUFDQSxVQUFBO0VBQ0EsV0FBQTtFQUNBLDBCQUFBO0NDQ0Q7O0FERUQ7RUFDRSxtQkFBQTtDQ0NEO0FEQUM7RUFDRSxxQkFBQTtFQUFBLHNCQUFBO0VBQUEscUJBQUE7RUFBQSxjQUFBO0VBQ0EsNkJBQUE7RUFBQSw4QkFBQTtFQUFBLCtCQUFBO01BQUEsMkJBQUE7VUFBQSx1QkFBQTtFQUNBLGNBQUE7Q0NFSDtBRERHO0VBQ0UsbUJBQUE7Q0NHTCIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5wZXRpdCB7XG4gIGZvbnQtZmFtaWx5OiBcIlBldGl0IEZvcm1hbCBTY3JpcHRcIiwgY3Vyc2l2ZTtcbiAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xufVxuXG5ib2R5IHtcbiAgZm9udC1zaXplOiAyMnB4O1xuICBjb2xvcjogZ3JlZW47XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2ZlY2I3Yztcbn1cblxuLmxheW91dC1vdGhlcntcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAmLXdyYXBwZXJ7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICAgIGhlaWdodDogMTAwdmg7XG4gICAgaDEsIHB7XG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgfVxuICB9XG59IiwiLnBldGl0IHtcbiAgZm9udC1mYW1pbHk6IFwiUGV0aXQgRm9ybWFsIFNjcmlwdFwiLCBjdXJzaXZlO1xuICBmb250LXdlaWdodDogNDAwO1xuICBmb250LXN0eWxlOiBub3JtYWw7XG59XG5cbmJvZHkge1xuICBmb250LXNpemU6IDIycHg7XG4gIGNvbG9yOiBncmVlbjtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmVjYjdjO1xufVxuXG4ubGF5b3V0LW90aGVyIHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xufVxuLmxheW91dC1vdGhlci13cmFwcGVyIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgaGVpZ2h0OiAxMDB2aDtcbn1cbi5sYXlvdXQtb3RoZXItd3JhcHBlciBoMSwgLmxheW91dC1vdGhlci13cmFwcGVyIHAge1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59Il19 */
